/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}
 
#container{
    display: flex;
    width: 900px;
    height: 600px;
    background-color:white;
    border: 1px solid black;
}
 
/* Hieronder kun je gaan editen */
 
#bovenkant{
    width: 300px;
    height: 600px;
    background-color: blue;
}
#middenstuk{
    width: 300px;
    height: 600px;
    background-color: white;
}
 
#onderkant{
    width: 300px;
    height: 600px;
    background-color: red;
}

